.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  margin-bottom: 3rem;
}

.header__nav-wrapper {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.73);
  inset: 0;
  z-index: 1;
  display: none;
}

.header__nav-wrapper.show-menu {
  display: block;
}

.header__nav {
  position: absolute;
  right: 0;
  z-index: 2;
  background-color: white;
  height: 100vh;
  width: 70%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.header__close-menu-btn {
  width: fit-content;
  align-self: flex-end;
}

.header__nav ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header__nav a {
  color: var(--Very-dark-blue);
  font-size: 1.4rem;
}

.header__nav a:hover,
.header__nav a:focus {
  color: var(--Soft-orange);
}

.header_logo {
  width: 50px;
}

@media (min-width: 700px) {
  .header__open-menu-btn {
    display: none;
  }

  .header__close-menu-btn {
    display: none;
  }

  .header__nav-wrapper {
    position: initial;
    display: block;
    background-color: transparent;
  }

  .header__nav {
    position: initial;
    background-color: white;
    height: fit-content;
    width: fit-content;
    padding: 0;
  }

  .header__nav ul {
    flex-direction: row;
    margin: 0;
  }

  .header__nav a {
    color: var(--Dark-grayish-blue);
    font-size: 1rem;
  }
}
