.grid {
  display: grid;
  gap: 1.5rem;
}

.main-article__text {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-top: 2rem;
}

.main-article__text * {
  margin: 0;
}

.main-article__title {
  font-size: 2rem;
  color: var(--Very-dark-blue);
}

.new-articles-section {
  background-color: var(--Very-dark-blue);
  padding: 1rem;
}

.new-articles-section h2 {
  color: var(--Soft-orange);
  font-size: 2rem;
}

.new-articles-section a {
  color: var(--Off-white);
}

.new-articles-section a:hover,
.new-articles-section a:focus {
  color: var(--Soft-orange);
}

.new-articles__description {
  color: var(--Grayish-blue);
}



@media (min-width: 900px) {
  .grid {
    grid-template-columns: 2fr 1fr;
  }

  .article-list {
    margin-top: 2rem;
  }

  .article-list ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    counter-reset: list-items;
  }

  .main-article__text {
    grid-template-columns: 1fr 1fr;
  }

  .article-list__item {
    display: flex;
    gap: 1rem;
    counter-increment: list-items;
  }

  .article-list__img {
    width: 100px;
    height: 100%;
    object-fit: cover;
  }
  .article-list__title {
    margin-top: 3rem;
    position: relative;
  }

  .article-list__title::before {
    content: "0" counter(list-items);
    position: absolute;
    top: -3rem;
    font-size: 40px;
    font-weight: bold;
    color: var(--Grayish-blue);
  }

  
}
