*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
}

img {
    display: inline-block;
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    color: transparent;
    border: none;
}

button:focus {
    outline: 3px solid red;
}

p {
    line-height: 1.7;
}